{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col text-shadow">
                <h1 class="my-5 display-5 text-light text-center">
                    Your Shopping Bag
                </h1>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row mb-5">
        <div class="col-1"></div>
        {% if bag_items %}
        <div class="col-10 table-responsive rounded">
            <table class="table table-sm table-borderless text-light">
                <thead class="text-light">
                    <tr>
                        <th scope="col">Product Info</th>
                        <th scope="col"></th>
                        <th scope="col">Price</th>
                        <th scope="col">Quantity</th>
                        <th scope="col"></th>
                        <th scope="col" class="text-end">Subtotal</th>
                    </tr>
                </thead>

                {% for item in bag_items %}
                    <tr>
                        <td class="pe-3 py-3 w-25">
                            <img class="img-fluid rounded" src="{{ item.product.image.url }}">
                        </td>
                        <td class="py-3">
                            <p class="my-0"><strong>{{ item.product.friendly_name}}</strong></p>
                            <p class="my-0">{{ item.product.total_volumen | calc_subweight:item.quantity }} liter
                                {% if calc_subweight != item.product.total_volumen and item.quantity != 1 or item.product.total_volumen > item.product.volumen %}
                                    {% if item.product.volumen < 10 %}
                                    <p class="my-0"><small>{{ item.product.volumen }} liter a can</small></p>
                                    {% else %}
                                    <p class="my-0"><small>{{ item.product.volumen }} liter a keg</small></p>
                                    {% endif %}
                                {% endif %}
                            </p>
                        </td>
                        <td class="py-3">
                            <p class="my-0">{{ item.product.price }} EUR</p>
                            <p class="my-0"><small>+ {{ item.product.deposit }} EUR<br>can deposit</small></p>
                        </td>
                        <td class="py-3">
                            <form class="form update-form mb-1 pb-2" method="POST" action="{% url 'adjust_bag' item.item_id %}">
                                {% csrf_token %}
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button class="decrement-qty btn btn-sm btn-light rounded-0 decrement-qty_{{ product.id }}" 
                                                data-item_id="{{ product.id }}">
                                                <span>
                                                    <i class="fas fa-minus"></i>
                                                </span>
                                            </button>
                                        </div>
                                        <input class="form-control form-control-sm qty_input id_qty_{{ item.item_id }}" type="number"
                                            name="quantity" value="{{ item.quantity }}" min="1" max="99" 
                                            data-item_id="{{ product.id }}"
                                            id="id_qty_{{ product.id }}">
                                        <div class="input-group-append">
                                            <button class="increment-qty btn btn-sm btn-light rounded-0 increment-qty_{{ product.id }}" 
                                                data-item_id="{{ product.id }}">
                                                <span>
                                                    <i class="fas fa-plus"></i>
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <a class="update-link btn btn-sm btn-outline-info text-info"><small>Update Quantity</small></a>
                        </td>
                        <td class="py-3">
                            <a class="remove-item btn btn-sm btn-outline-danger text-danger" id="remove_{{ item.item_id }}"><small>Remove Item</small></a>
                        </td>
                        <td class="py-3 text-end">
                            <p class="my-0">{{ item.product.price | calc_subtotal:item.quantity }} EUR</p>
                            <p class="my-0"><small>+ {{ item.product.deposit | calc_subdeposit:item.quantity }} EUR<br>can deposit</small></p>
                        </td>
                    </tr>
                {% endfor %}
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td colspan="6" class="pt-5">
                        <h6>
                            <strong>
                                Total Weight: 
                                <span class="float-end">{{ weight|floatformat:2 }} Kg</span>
                            </strong>
                        </h6>
                        <h6 class="pt-2">
                            <strong>
                                Bag: 
                                <span class="float-end">{{ total|floatformat:2 }} EUR</span>
                            </strong>
                        </h6>
                        <h6>
                            <small>
                                Deposit Total: 
                                <span class="float-end">+ {{ total_deposit|floatformat:2 }} EUR</span>
                            </small>
                        </h6>
                        {% if shipping_cost == 0 %}
                            <h6>
                                <small>
                                    Free Shipping
                                </small>
                            </h6>
                        {% else %}
                            <h6>
                                <small>
                                    Shipping Cost: 
                                    <span class="float-end">+ {{ shipping_cost|floatformat:2 }} EUR</span>
                                </small>
                            </h6>
                        {% endif %}
                        <h6 class="pt-2">
                            <strong>
                                Grand Total: 
                                <span class="float-end double-underline">{{ grand_total|floatformat:2 }} EUR</span>
                            </strong>
                        </h6>
                    </td>
                </tr>
                <tr>
                    <td colspan="6" class="text-end">
                        <a href="{% url 'products' %}" class="btn btn-outline-light border-0 rounded-4 mt-5" >
                            <span class="icon">
                                <i class="fas fa-chevron-left"></i>
                            </span>
                            <span class="text-uppercase">Keep Shopping</span>
                        </a>
                        <a href="{% url 'checkout' %}" class="btn rounded-4 text-uppercase mt-5 btn-light">
                            <span class="text-uppercase">Secure Checkout</span>
                            <span class="icon">
                                <i class="fas fa-lock"></i>
                            </span>
                        </a>
                    </td>
                </tr>
            </table>
        </div>
        {% else %}
            <div class="col text-center">
                <p class="lead mb-5 ">Your bag is empty.</p>
                <a href="{% url 'products' %}" class="btn btn-outline-light border-0 rounded-4 mt-5">
                    <span class="icon">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span class="text-uppercase">Keep Shopping</span>
                </a>
            </div>
        {% endif %}
        <div class="col-1"></div>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}

<script type="text/javascript">
    // Update quantity on click
    $('.update-link').click(function(e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var url = `/bag/remove/${itemId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })

</script>
{% endblock %}