{% load bag_tools %}

<p class="my-0"><strong>{{ item.product.name}}</strong></p>
<p class="my-0">{{ item.product.weight_volumen | calc_subweight:item.quantity }} liter
    {% if calc_subweight != item.product.weight_volumen and item.quantity != 1 or item.product.volumen > item.product.container.volumen_per_unit %} 
        <p class="my-0">
            <small>{{ item.product.container.volumen_per_unit }} liter a 
                {% if item.product.container.volumen_per_unit < 10 %}
                    can
                {% else %}
                    keg
                {% endif %}
            </small>
        </p>
    {% endif %}
</p>