{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col text-shadow">
            <h1 class="my-5 display-5 text-light text-center">
                General terms and conditions
            </h1>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="text-capitalize">
                    Terms of Service
                </h2>
                <hr>
                <ul>
                    <li>
                        <h3 class="text-capitalize">
                            scope
                        </h3>
                        These General Terms and Conditions (GTC) apply to all deliveries from <span class="logo-font">Plörr</span> GmbH (hereinafter <span class="logo-font">Plörr</span>) to consumers.
                        <br>A consumer is any natural person who enters into a legal transaction for a purpose that is predominantly neither commercial nor self-employed.
                    </li>
                    <br>
                    <li>
                        <h3 class="text-capitalize">
                            contractual partner
                        </h3>
                        The purchase contract is concluded with:
                        <br>Plörr GmbH
                        <br>Owner: Mannfred von Plörr
                        <br>Flöz-Zollverein-Straße 25
                        <br>Tor 3
                        <br>59368 Werne
                        <br>
                        <br>Commercial register:
                        <br>District Court Germany Unna, HRA 12345
                    </li>
                    <br>
                    <li>
                        <h3 class="text-capitalize">
                            conclusion of contract
                        </h3>
                        The presentation of the products in the online shop does not constitute a legally binding offer, but only an invitation to place an order.
                        <br>By clicking the [Buy/order with costs] button, you place a binding order for the goods listed on the order page. 
                        <br>Your purchase contract is concluded when we accept your order with an order confirmation email immediately after receipt of your order.
                    </li>
                    <br>
                    <li>
                        <h3 class="text-capitalize">
                            right of withdrawal
                        </h3>

                        If you are a consumer (i.e. a natural person who places the order for a purpose that cannot be attributed to your commercial or self-employed professional activity), you have a right of withdrawal in accordance with the statutory provisions.
                        <br>If you, as a consumer, make use of your right of withdrawal according to Section 4.1, you have to bear the regular costs of the return.
                        <br>For the rest, the regulations that are reproduced in detail in the following instructions on cancellation apply to the right of <strong>cancellation ¹:</strong>
                        <ul>
                            <li>
                                <h5 class="text-capitalize">
                                    Right of cancellation
                                </h5>
                                You have the right to cancel this contract within fourteen days without giving reasons.
                                <br>The cancellation period is fourteen days from the day on which you or a third party named by you who is not the carrier took possession of the goods.
                                <br> To exercise your right of withdrawal, you must inform us [enter the name of the entrepreneur, address, telephone number, and e-mail address] employing a clear statement (e.g. a letter sent by post or an e-mail) about your decision to withdraw from this contract, inform. 
                                <br>You can use the attached sample revocation form for this, but this is not mandatory. 
                                <br>You can electronically fill out and submit the model revocation form or any other clear statement on our website (insert Internet address). 
                                <br>If you make use of this option, we will immediately send you (e.g. by e-mail) confirmation of receipt of such a revocation.
                                <br>To meet the cancellation deadline, it is sufficient for you to send the communication regarding your exercise of the right of cancellation before the cancellation period has expired.
                            </li>
                            <br>
                            <li>
                                <h5 class="text-capitalize">
                                    Consequences of revocation
                                </h5>
                                If you revoke this contract, we have paid you all payments that we have received from you, including the delivery costs (except for the additional costs resulting from the fact that you have chosen a different type of delivery than the cheapest standard delivery offered by us have), immediately and at the latest within fourteen days from the day on which we received the notification of your cancellation of this contract. 
                                <br>For this repayment, we use the same means of payment that you used in the original transaction unless something else was expressly agreed with you; under no circumstances will you be charged fees for this repayment. 
                                <br>We can refuse the repayment until we have received the goods back or until you have provided proof that
                                <br>You have the goods immediately and in any event not later than fourteen days from the day on which you inform us of the cancellation of this contract, to us or to (here may be the name and address of the person authorized by you to accept the goods insert) to be returned or handed over. 
                                <br>The deadline is met if you send back the goods before the period of fourteen days has expired.
                                <br>You bear the direct costs of returning the goods.
                                <br>You are only liable for any diminished value of the goods resulting from the handling other than what is necessary to establish the nature, characteristics, and functioning of the goods.
                            </li>
                            <br>
                            - End of cancellation policy -
                            <br>
                            <small>( ¹ This cancellation policy applies from May 28th, 2022 . It does not apply to the separate delivery of goods.)</small>
                        </ul>
                    </li>
                    <br>
                    <li>
                        <h3 class="text-capitalize">
                            prices and shipping costs
                        </h3>
                        The prices stated on the product pages include statutory VAT and other price components.
                        <br>The shipping costs will be communicated to you again on the product pages, in the shopping cart system, and on the order page.
                        <ul>
                            <strong>
                                    Shipping Costs Overview
                            </strong>
                            <li>
                                Shipping cost for  5 to 10kg:  5 EUR
                            </li>
                            <li>
                                Shipping cost for 10 to 31kg:  9 EUR
                            </li>
                            <li>
                                Shipping cost for 31 to 50kg: 16 EUR
                            </li>
                            <li>
                                Shipping cost for above 50kg: 30 EUR
                            </li>
                            <li>
                                Any order below 5 Kg will be shipped free of cost.
                            </li>
                        </ul>
                        There are no other taxes or costs for delivery in Germany.
                    </li>
                    <br>
                    <li>
                        <h3 class="text-capitalize">
                            delivery
                        </h3>
                        Delivery is only within Germany with DPD.
                        <br>The delivery time is up to 3 days. Any deviating delivery times are indicated on the respective product page.
                    </li>
                    <br>
                    <li>
                        <h3 class="text-capitalize">
                            payment
                        </h3>
                        Payment can be made either in advance or in cash on delivery.
                        <br>If you choose the payment method in advance, we will give you our bank details in the order confirmation and deliver the goods after receipt of payment.
                    </li>
                    <br>
                    <li>
                        <h3 class="text-capitalize">
                            retention of title
                        </h3>
                        The goods remain our property until full payment has been made.
                    </li>
                    <br>
                    <li>
                        <h3 class="text-capitalize">
                            dispute resolution
                        </h3>
                        The EU Commission has created an internet platform for the online settlement of disputes.
                        <br>The platform serves as a point of contact for the out-of-court settlement of disputes relating to contractual obligations arising from online sales contracts. 
                        <br>More information is available at the following <a href="http://ec.europa.eu/consumers/odr" target="_blank" class="text-decoration-none" aria-label="link to ec.europa.eu"><strong class="text-light">link</strong></a>.
                        <br>
                        <br>We are neither willing nor obliged to participate in a dispute settlement procedure before a consumer arbitration board.
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}