{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col text-shadow">
            <h1 class="my-5 display-5 text-light text-center">
                Imprint
            </h1>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h2>
                    Entries referred to &sect; 5 TMG
                </h2>
                <p>𝕻𝖑𝖔𝖗𝖗 GmbH
                    <br />
                    Fl&ouml;z-Zollverein-Stra&szlig;e 25
                    <br />
                    Tor 3
                    <br />
                    59368 Werne
                </p>
                <p>
                    <strong>Represented by:</strong>
                    <br />
                    Mannfred von Pl&ouml;rr
                    <br />
                    Brewmaster Alfred Pl&ouml;rrmann
                </p>
                <p>
                    <strong>Chairman of the supervisory board:</strong>
                    <br />Schluck von Specht
                </p>
                <br />
                <h2>
                    Contact
                </h2>
                <p>
                    Phone: +49 (0) 123 44 55 66
                    <br />
                    Fax: +49 (0) 123 44 55 99
                    <br />
                    E-Mail: info@ploerr.com
                </p>
                <br />
                <h2>
                    Tax ID
                </h2>
                <p>
                    Sales tax identification number according to &sect; 27 of sales tax law:
                    <br />DE999999999
                </p>
                <br />
                <h2>
                    Dispute Resolution
                </h2>
                <p>
                    The European Commission provides a platform for online dispute resolution (OS):
                    Our e-mail address can be found above in the imprint.
                    We are not willing or obliged to participate in dispute settlement procedures before a consumer arbitration board.
                </p>
                <br />
                <h2>
                    Liability for content
                </h2>
                <p>
                    As a service provider, we are responsible for our content on these pages according to Section 7, Paragraph 1 of the German Telemedia Act (TMG). According to §§ 8 to 10 TMG, however, we as a service provider are not obliged to monitor transmitted or stored third-party information or to investigate circumstances that indicate illegal activity. Obligations to remove or block the use of information according to general laws remain unaffected. However, liability in this regard is only possible from the point in time at which knowledge of a specific infringement of the law is known. As soon as we become aware of any violations of the law, we will remove this content immediately.
                </p>
                <br />
                <h2>
                    Liability for links
                </h2>
                <p>
                    Our offer contains links to external websites over which we have no influence. Therefore we cannot assume any liability for this external content. The respective provider or operator of the pages is always responsible for the content of the linked pages. The linked pages were checked for possible legal violations at the time of linking. Illegal content was not recognizable at the time of linking. However, permanent control of the content of the linked pages is not reasonable without concrete evidence of an infringement. As soon as we become aware of legal violations, we will remove such links immediately.
                </p>
                <br />
                <h2>
                    Copyright
                </h2>
                <p>
                    The content and works on these pages created by the site operators are subject to German copyright law. The duplication, editing, distribution, and any kind of exploitation outside the limits of copyright require the written consent of the respective author or creator. Downloads and copies of this site are only permitted for private, non-commercial use.
                     Insofar as the content on this site was not created by the operator, the copyrights of third parties are observed. In particular contents of third parties are marked as such. Should you nevertheless become aware of a copyright infringement, we ask that you inform us accordingly. As soon as we become aware of legal violations, we will remove such content immediately.
                </p>
                <p>
                    Source: <a href="https://www.e-recht24.de" target="_blank" class="text-decoration-none" aria-label="link to e-recht24" rel="nofollow"><strong class="text-light">eRecht24</strong></a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}