{% extends "base.html" %}
{% load static %}

{% block extra_meta %}
    {{ block.super }}
    <meta name="description" content="Mit Plörrbräu ist der Tag...">
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col text-shadow">
                <h1 class="my-5 display-5 text-light text-center">
                    Welcome to
                    <br>
                    <span class="logo-font display-3">Plörrbräu</span>
                </h1>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col">
                <video autoplay muted loop id="index-bg-video">
                    <source src="https://ploerr.s3.eu-central-1.amazonaws.com/media/home/main-bg.webm" type="video/webm">
                </video>
            </div>
        </div>
        <div class="row mt-5 xxl-mb-5">
            <div class="col-2 col-sm-5 col-lg-7 my-auto"></div>
            <div class="col-8 col-sm-7 col-lg-5 my-auto">
                <h2 class="display-5 text-light text-shadow">
                    <strong>The new flavour:</strong>
                </h2>
                <h3 class="display-3 text-light text-shadow">
                    <span class="logo-font">Plörr</span> <span class="fw-semibold fst-italic">Lau</span>
                </h3>
                <div class="my-3 text-center">
                    <h4>
                        <a href="{% url 'products' %}" class="slightly-less-dark-bg btn btn-lg rounded-4 text-uppercase py-1 text-light" aria-label="Promotion Link - Goes to the Product Page">Try it now</a>
                    </h4>
                </div>
            </div>
        </div>
        <div class="row my-xxl-5"></div>
    </div>
{% endblock %}

{% block footer %}
    <footer class="container-fluid fixed-bottom d-none d-sm-block">
        <div class="row text-center text-shadow mb-2">
            <div class="col-12 text-light">
                <h5>Visit Us on Facebook</h5>
            </div>
            <div class="row g-0 text-center">
                <div class="col-4"></div>
                <div class="col-4 text-light">
                    <a class="font-weight-bold nav-link mr-5 facebook-link" href="#" target="_blank" aria-label="Facebook - Buissness Site Link">
                        <i class="fa-brands fa-square-facebook"></i>
                    </a>
                </div>
                <div class="col-4"></div>
            </div>
        </div>
        <div class="row slightly-less-dark-bg">
            <nav class="navbar navbar-expand-lg navbar-light w-100 pt-1">
                {% include 'includes/food_nav.html' %}
            </nav>
        </div> 
    </footer>

    <footer class="container-fluid mt-5 pt-5 d-block d-sm-none">
        <div class="row text-center text-shadow mb-2">
            <div class="col-12 text-light">
                <h5>Visit Us on Facebook</h5>
            </div>
            <div class="col-12 text-light">
                <a class="font-weight-bold nav-link mr-5 facebook-link" href="#" target="_blank" aria-label="Facebook - Buissness Site Link">
                <i class="fa-brands fa-square-facebook"></i>
                </a>
            </div>
        </div>
        <div class="row slightly-less-dark-bg">
            <nav class="navbar navbar-expand-lg navbar-light w-100 pt-1">
                {% include 'includes/food_nav.html' %}
            </nav>
        </div> 
    </footer>
{% endblock %}