@import url('https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap');

html {
    height: 100%;
}

body {
    color: whitesmoke;
}

.slightly-dark-bg {
    background-color: rgba(0, 0, 0, 0.4);
}

.radial-gradient-dark-bg {
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.4007352941176471) 16%, rgba(0,0,0,0) 100%);
}

.slightly-round-bg {
    border-radius: 10%;
}

.logo-font {
    font-family: 'UnifrakturMaguntia', cursive;
    letter-spacing: 3px
}

.text-shadow {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#Facebook-link {
    font-size: 30px;
}

/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }
  }

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 210px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 992px) {
    .header-container {
        padding-top: 18%;
    }

    #logoimage {
        height: 100%;
        width: 15%;
        min-width: 50px;
    }
}

@media (max-width: 625px) {
    .header-container {
        padding-top: 116px;
    }
}