<div class="container">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block">
            <a class="font-weight-bold nav-link text-white mr-5 main-nav-link" href="{% url 'contact' %}" aria-label="contact-link">
                Contact
            </a>
        </li>
        <li class="nav-item d-block">
            <a class="font-weight-bold nav-link text-white mr-5 main-nav-link" href="{% url 'impressum' %}" aria-label="imprint-link">
                Imprint
            </a>
        </li>
        <li class="nav-item d-block">
            <a class="font-weight-bold nav-link text-white mr-5 main-nav-link" href="{% url 'privacypolicy' %}" aria-label="privacypolicy-link">
                Privacy Policy
            </a>
        </li>
        <li class="nav-item d-block ">
            <a class="font-weight-bold nav-link text-white mr-5 main-nav-link" href="{% url 'agb' %}" aria-label="GTC-link">
                GTC
            </a>
        </li>
    </ul>
</div>