<div class="container">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block">
            <a class="font-weight-bold nav-link text-white mr-5 main-nav-link" href="{% url 'contact' %}" id="contact-link">
                Contact
            </a>
        </li>
        <li class="nav-item d-block">
            <a class="font-weight-bold nav-link text-white mr-5 main-nav-link" href="{% url 'impressum' %}" id="imprint-link">
                Imprint
            </a>
        </li>
        <li class="nav-item d-block">
            <a class="font-weight-bold nav-link text-white mr-5 main-nav-link" href="{% url 'agb' %}" id="GTC-link">
                GTC
            </a>
        </li>
    </ul>
</div>