<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="font-weight-bold nav-link text-white mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item d-block">
            <a class="font-weight-bold nav-link text-white mr-5" href="#" id="Shop-link">
                Products
            </a>
        </li>
        <li class="nav-item d-block mx-5">
            <a class="font-weight-bold nav-link text-white mr-5" href="{% url 'quality' %}" id="Ingridiance-link">
                Quality
            </a>
        </li>
        <li class="nav-item d-block">
            <a class="font-weight-bold nav-link text-white mr-5" href="{% url 'brewery' %}" id="Brewery-link">
                Brewery
            </a>
        </li>
    </ul>
</div>