{% extends "account/base.html" %}

{% load crispy_forms_tags %}
{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block inner_header %}
    <h1 class="my-5 display-5 text-light text-center">
        {% if token_fail %}
            {% trans "Bad Token" %}
        {% else %}
            {% trans "Change Password" %}
        {% endif %}
    </h1>
{% endblock %}

{% block content %}

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p class="mb-3 text-light text-center">{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    {% else %}
        {% if form %}
            <div class="row mb-5">
                <div class="col-1 col-sm-4"></div>
                <div class="col-10 col-sm-4">
                    <form method="POST" action="{{ action_url }}">
                        {% csrf_token %}
                        {{ form | crispy }}
                        <div class="row my-4">
                            <div class="col-1"></div>
                            <div class="col-10 text-center">
                                <input class="btn btn-light btn-lg" type="submit" name="action" value="{% trans 'change password' %}"/>
                            </div>
                            <div class="col-1"></div>
                        </div>
                    </form>
                </div>
                <div class="col-1 col-sm-4"></div>
            </div>
        {% else %}
            <p class="mb-3 text-light text-center">{% trans 'Your password is now changed.' %}</p>
        {% endif %}
    {% endif %}

{% endblock %}
