{% extends "account/base.html" %}

{% load crispy_forms_tags %}
{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block inner_header %}
    <h1 class="my-5 display-5 text-light text-center">{% trans "Set Password" %}</h1>
{% endblock %}

{% block content %}
<div class="row mb-5">
    <div class="col-1 col-sm-4"></div>
    <div class="col-10 col-sm-4">
        <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
            {% csrf_token %}
            {{ form | crispy }}
            <div class="row my-4">
                <div class="col-1"></div>
                <div class="col-10 text-center">
                    <input class="btn btn-light btn-lg" type="submit" name="action" value="{% trans 'Set Password' %}"/>
                </div>
                <div class="col-1"></div>
            </div>
        </form>
    </div>
    <div class="col-1 col-sm-4"></div>
</div>
{% endblock %}
