{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block inner_header %}
    <h1 class="my-5 display-5 text-light text-center">{% trans "Password Reset" %}</h1>
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="text-light text-center">
            {% include "account/snippets/already_logged_in.html" %}
        </div>
    {% endif %}   
    <p class="mb-3 text-light text-center">{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
{% endblock %}
