{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block inner_header %}
    <h1 class="my-5 display-5 text-light text-center">{% trans "Verify Your E-mail Address" %}</h1>
{% endblock %}

{% block content %}
    <p class="mb-3 text-light text-center">{% blocktrans %}We have sent an e-mail to you for verification. Follow the link provided to finalize the signup process. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
{% endblock %}
