{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block extra_title %}- {{ product.name }}{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col text-shadow">
                <h1 class="my-5 display-5 text-light text-center">
                    Rate {{ product.name }}
                </h1>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid h-100">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
                <div class="image-container my-5">
                    {% if product.image %}
                        <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.friendly_name }}">
                    {% else %}
                        <img class="card-img-top img-fluid" src="https://res.cloudinary.com/dbscsb8w1/image/upload/v1670944399/Pl%C3%B6rr/ploerr-logo_wbfur6.png" alt="{{ product.friendly_name }}">
                    {% endif %}
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="product-details-container mb-5 mt-md-5">
                    <p class="mt-3 mb-2 h6">{{ product.product_description.description }}</p>
                    {% if product.product_description.ingredients %}
                        <p class="mb-1"><strong>Ingredients:</strong> {{ product.product_description.ingredients }}</p>
                    {% endif %}
                    {% if product.product_description.character %}
                        <p class="mb-1"><strong>Character:</strong> {{ product.product_description.character }}</p>
                    {% endif %}
                    {% if product.product_description.harmonize_with %}
                        <p class="mb-1"><strong>Goes well with:</strong> {{ product.product_description.harmonize_with }}</p>
                    {% endif %}
                    {% if product.product_description.brewing_type %}
                        <p class="mb-1"><strong>Type of brewing:</strong> {{ product.product_description.brewing_type }}</p>
                    {% endif %}
                    {% if product.product_description.bitter %}
                        <p class="mb-1"><strong>Bitter units:</strong> {{ product.product_description.bitter }}</p>
                    {% endif %}
                    {% if product.product_description.original_wort %}
                        <p class="mb-1"><strong>Original wort:</strong> {{ product.product_description.original_wort }}%</p>
                    {% endif %}
                    {% if product.product_description.alcohol_content %}
                        <p class="mb-1"><strong>Alcohol content:</strong> {{ product.product_description.alcohol_content }}% vol.</p>
                    {% endif %}
                    {% if product.product_description.energy_100ml %}
                        <p class="mb-1"><strong>Energy per 100 ml: </strong>{{ product.product_description.energy_100ml }}</p>
                    {% endif %}
                    <p class="mb-1"><strong>Drinking temperature:</strong> {{ product.product_description.temperature }}°C</p>
                    {% if product.container.size %}
                        <p class="mb-1"><strong>Size: </strong>{{ product.container.size }}</p>
                    {% endif %}
                    <p class="mb-1">{{ product.weight_volumen}}
                        {% if product.weight == 0 %}
                            liter
                            {% if product.container.units > 1 %}
                                - <small>
                                    {{ product.container.volumen_per_unit }} liter a 
                                    {% if item.product.container.volumen_per_unit < 10 %}
                                        can
                                    {% else %}
                                        keg
                                    {% endif %}
                                </small>
                            {% endif %}
                        {% else %}
                            kg
                        {% endif %}
                    </p>
                    <p class="lead mb-0 text-left font-weight-bold">{{ product.price }} EUR</p>
                    {% if product.rating %}
                        <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ product.rating }} / 5</small>
                    {% else %}
                        <small class="text-muted">No Rating</small>
                    {% endif %}
                </div>
            </div>
        </div>
    <div class="row text-center">
        <div class="col-0 col-lg-2"></div>
        <div class="col-12 col-lg-8 px-xs-2 px-sm-5 px-lg-3 px-xl-5">
            <form method="POST" action="{% url 'add_review' product.id %}" class="form mb-2" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                <strong>
                    {{ field | as_crispy_field }}
                </strong>
                {% endfor %}
                <div class="text-end">
                    <a class="btn btn-outline-light rounded-3" href="{% url 'profile' %}">Cancel</a>
                    <button class="btn btn-light rounded-3" type="submit">Add Product Review</button>
                </div>
            </form>
        </div>
        <div class="col-0 col-lg-2"></div>
    </div>
{% endblock %}