{% extends "base.html" %}
{% load static %}

{% block extra_meta %}
    {{ block.super }}
    <meta name="description" content="Inexpensive ale and beer">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col text-shadow">
                <h1 class="mt-5 display-5 text-light text-center">
                    Our <span class="logo-font display-3">Plörrbräu</span> Products
                </h1>
            </div>
        </div>
        <div class="row justify-content-center mb-4">
            {% for category in categories %}
                <div class="col-sm-6 col-md-3 text-center m-2">
                    <a class="cat-btn text-light text-capitalize" href="{% url 'category_filter' category.id %}" aria-label="Filter product by {{ category.catergory_name }}">
                        {{ category.category_name }}
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row mt-1 mb-2">
        </div>
        <div class="row justify-content-md-center">
            {% for product in products %}
                <div class="col-sm-6 col-md-6 col-lg-3 text-dark">
                    <div class="card h-100 border-0 mx-3">
                        {% if product.image %}
                        <a href="{% url 'product_detail' product.id %}" aria-label="Go to {{ product.name }} details">
                            <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                        </a>
                        {% else %}
                        <a href="{% url 'product_detail' product.id %}" aria-label="Go to {{ product.name }} details">
                            <img class="card-img-top img-fluid" src="https://res.cloudinary.com/dbscsb8w1/image/upload/v1670944399/Pl%C3%B6rr/ploerr-logo_wbfur6.png" alt="{{ product.name }}">
                        </a>
                        {% endif %}
                        <div class="card-body pb-0">
                            <p class="mb-0">{{ product.name }}</p>
                        </div>
                        <div class="card-footer bg-white pt-0 border-0 text-left">
                            <div class="row">
                                <div class="col">
                                    <p class="lead mb-0 text-left font-weight-bold">{{ product.price }} EUR</p>
                                    {% if product.rating %}
                                        <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ product.rating }} / 5</small>
                                    {% else %}
                                        <small class="text-muted">No Rating</small>
                                    {% endif %}
                                    {% if request.user.is_staff %}
                                        <strong class="ml-3 ms-2">
                                            <a class="text-warning edit-btn" href="{% url 'edit_product' product.id %}">Edit</a> | 
                                            <a class="text-danger delete-btn" href="{% url 'confirm_delete_product' product.id %}">Delete</a>
                                        </strong>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:1 %}
                    <div class="col-12 d-sm-none mb-5">
                    </div>
                {% endif %}                        
                {% if forloop.counter|divisibleby:2 %}
                    <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                    </div>
                {% endif %}
                {% if forloop.counter|divisibleby:4 %}
                    <div class="col-12 d-none d-lg-block mb-5">
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}