{% extends "base.html" %}
{% load static %}

{% block extra_title %}- Confirm Deletion{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col text-shadow">
                <h1 class="my-5 display-5 text-light text-center">
                    Confirm Deletion
                </h1>
                <h3 class="text-center">
                    Are you sure you want to delete:<br>
                    {{ description.product_name }} ?
                </h3>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container-fluid h-100">
    <div class="row mb-3">
        <div class="col-1"></div>
        <div class="col-10">
            <div class="product-details-container mt-md-5">
                <div class="row">
                    <strong class="text-center">Description: </strong>
                    <div class="col-sm-2 col-md-3"></div>
                    <div class="col-sm-8 col-md-6 mb-4"><strong>{{ description.description }}</strong></div>
                    <div class="col-sm-2 col-md-3"></div>
                    {% if description.ingredients %}
                        <div class="col-6 text-end"><strong>Ingredients: </strong></div>
                        <div class="col-6">{{ description.ingredients }}</div>
                    {% endif %}
                    {% if description.character %}
                        <div class="col-6 text-end"><strong>Character: </strong></div>
                        <div class="col-6">{{ description.character }}</div>
                    {% endif %}
                    {% if description.harmonize_with %}
                        <div class="col-6 text-end"><strong>Goes well with: </strong></div>
                        <div class="col-6">{{ description.harmonize_with }}</div>
                    {% endif %}
                    {% if description.brewing_type %}
                        <div class="col-6 text-end"><strong>Type of brewing: </strong></div>
                        <div class="col-6">{{ description.brewing_type }}</div>
                    {% endif %}
                    {% if description.bitter %}
                        <div class="col-6 text-end"><strong>Bitter units: </strong></div>
                        <div class="col-6">{{ description.bitter }}</div>
                    {% endif %}
                    {% if description.original_wort %}
                        <div class="col-6 text-end"><strong>Original wort: </strong></div>
                        <div class="col-6">{{ description.original_wort }}%</div>
                    {% endif %}
                    {% if description.alcohol_content %}
                        <div class="col-6 text-end"><strong>Alcohol content: </strong></div>
                        <div class="col-6">{{ description.alcohol_content }}% vol.</div>
                    {% endif %}
                    {% if description.energy_100ml %}
                        <div class="col-6 text-end"><strong>Energy per 100 ml: </strong></div>
                        <div class="col-6">{{ description.energy_100ml }}</div>
                    {% endif %}
                    {% if description.temperature %}
                        <div class="col-6 text-end"><strong>Drinking temperature: </strong></div>
                        <div class="col-6">{{ description.temperature }}°C</div>
                    {% endif %}
                </div>
                <div class="col-1"></div>
            </div>
        </div>
    <div class="row text-center mt-3">
        <div class="col">
        {% if request.user.is_staff %}
            <h3>
                <strong>
                    <a class="text-danger delete-btn me-3" value="Delete" href="{% url 'delete_description' description.id %}"> Delete</a> | 
                    <a class="text-warning edit-btn" value="Edit" href="{% url 'edit_description' description.id %}"> Edit</a> | 
                    <a class="text-light cancel-btn ms-3" value="Cancel" href="{% url 'all_descriptions' %}"> Cancel</a>
                </strong>
            </h3>
        {% endif %}
    </div>
{% endblock %}