{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block extra_title %}- Product Management{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col text-shadow">
                <h1 class="my-5 display-5 text-light text-center">
                    Product Management
                </h1>
                <h5 class="my-5 text-light text-center">
                    Edit {{ product_item.name }}
                </h5>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-0 col-lg-2"></div>
            <div class="col-12 col-lg-8 px-xs-2 px-sm-5 px-lg-3 px-xl-5">
                <form method="POST" action="{% url 'edit_product' product_item.id %}" class="form mb-2" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                        {% if field.name != 'image' %}
                            {{ field | as_crispy_field }}
                        {% else %}
                            {{ field }}
                        {% endif %}
                    {% endfor %}
                    <div class="text-end">
                        <a class="btn btn-outline-light rounded-3" href="{% url 'products' %}">Cancel</a>
                        <button class="btn btn-light rounded-3" type="submit">Update Product</button>
                    </div>
                </form>
            </div>
            <div class="col-0 col-lg-2"></div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
        $('#new-image').change(function() {
            var file = $('#new-image')[0].files[0];
            $('#filename').text(`Image will be set to: ${file.name}`);
        });
    </script>
{% endblock %}