{% extends "base.html" %}
{% load static %}
{% block extra_title %}- Product Management{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col text-shadow">
                <h1 class="my-5 display-5 text-light text-center">
                    Product Management
                </h1>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row mt-1 mb-2">
        </div>
        <div class="row justify-content-center">
            <div class="col-sm-7 col-lg-3 text-light m-5 text-center">
                <div class="card h-100 border-0">
                    <img class="img-fluid rounded-1 img-thumbnail" src="https://ploerr.s3.eu-central-1.amazonaws.com/media/main/ploerr-container.webp" alt="Product Container">
                    <div class="card-img-overlay">
                        <div class="card-body pb-0">
                            <h4 class="cart-title mb-0 my-2 text-shadow">Manage Product Container</h4>
                            <div class="row mt-3">
                                <div class="col bg-white rounded-4">
                                    <strong class="ml-3">
                                        <a class="text-success add-btn" href="{% url 'add_container' %}">New Container</a>
                                    </strong>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer pt-0 border-0 rounded-4 my-3">
                            <div class="row">
                                <div class="col bg-white rounded-4">
                                    <strong class="ml-3 ms-2 text-dark">
                                        <a class="text-warning edit-btn" href="{% url 'all_containers' %}">Edit</a> | 
                                        <a class="text-danger delete-btn" href="{% url 'all_containers' %}">Delete</a>
                                    </strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-7 col-lg-3 text-light m-5 text-center">
                <div class="card h-100 border-0">
                    <img class="img-fluid rounded-1 img-thumbnail" src="https://ploerr.s3.eu-central-1.amazonaws.com/media/main/ploerr-product.webp" alt="Manage Product">
                        <div class="card-img-overlay">
                        <div class="card-body pb-0">
                            <h4 class="cart-title mb-0 my-2 text-shadow">Manage Product<br><br></h4>
                            <div class="row mt-3">
                                <div class="col bg-white rounded-4">
                                    <strong class="ml-3">
                                        <a class="text-success add-btn" href="{% url 'add_product' %}">New Product</a>
                                    </strong>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer pt-0 border-0 rounded-4 my-3">
                            <div class="row">
                                <div class="col bg-white rounded-4">
                                    <strong class="ml-3 ms-2 text-dark">
                                        <a class="text-warning edit-btn" href="{% url 'products' %}">Edit</a> | 
                                        <a class="text-danger delete-btn" href="{% url 'products' %}">Delete</a>
                                    </strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-7 col-lg-3 text-light m-5 text-center">
                <div class="card h-100 border-0">
                    <img class="img-fluid rounded-1 img-thumbnail" src="https://ploerr.s3.eu-central-1.amazonaws.com/media/main/ploerr-description.webp" alt="Product Description">
                    <div class="card-img-overlay">
                        <div class="card-body pb-0">
                            <h4 class="cart-title mb-0 my-2 text-shadow">Manage Product Description</h4>
                            <div class="row mt-3">
                                <div class="col bg-white rounded-4">
                                    <strong class="ml-3">
                                        <a class="text-success add-btn" href="{% url 'add_description' %}">New Description</a>
                                    </strong>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer pt-0 border-0 rounded-4 my-3">
                            <div class="row">
                                <div class="col bg-white rounded-4">
                                    <strong class="ml-3 ms-2">
                                        <a class="text-warning edit-btn" href="{% url 'all_descriptions' %}">Edit</a> | 
                                        <a class="text-danger delete-btn" href="{% url 'all_descriptions' %}">Delete</a>
                                    </strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 mb-5 pb-5">
        </div>
    </div>
{% endblock %}

{% block footer %}
    <footer class="container-fluid d-none d-lg-block footer-container3">
        <div class="row text-center text-shadow mb-2">
            <div class="col-12 text-light">
                <h5>Visit Us on Facebook and Subscribe to Our Newsletter!</h5>
            </div>
            <div class="row g-0 text-center">
                <div class="col-4"></div>
                <div class="col-2 text-light">
                    <a class="font-weight-bold nav-link mr-5 facebook-link" href="https://www.facebook.com/profile.php?id=100089091254716" rel="external" target="_blank" aria-label="Facebook - Business Site Link">
                        <i class="fa-brands fa-square-facebook"></i>
                    </a>
                </div>
                <div class="col-2 text-light">
                    <div class="font-weight-bold nav-link mr-5 facebook-link" id="show-popup">
                        <i class="fa-solid fa-envelope"></i>
                    </div>
                </div>
                <div class="col-4"></div>
            </div>
        </div>
        <div class="row slightly-less-dark-bg">
            <nav class="navbar navbar-expand-lg navbar-light w-100 pt-1">
                {% include 'includes/food_nav.html' %}
            </nav>
        </div> 
    </footer>

    <footer class="container-fluid mt-5 pt-5 d-block d-lg-none">
        <div class="row text-center text-shadow mb-2">
            <div class="col-12 text-light">
                <h5>Visit us on Facebook and Subscribe to our Newsletter!</h5>
            </div>
            <div class="row g-0 text-center">
                <div class="col-4"></div>
                <div class="col-2 text-light">
                    <a class="font-weight-bold nav-link mr-5 facebook-link" href="https://www.facebook.com/profile.php?id=100089091254716" rel="external" target="_blank" aria-label="Facebook - Business Site Link">
                        <i class="fa-brands fa-square-facebook"></i>
                    </a>
                </div>
                <div class="col-2 text-light">
                    <div class="font-weight-bold nav-link mr-5 facebook-link" id="show-popup">
                        <i class="fa-solid fa-envelope"></i>
                    </div>
                </div>
                <div class="col-4"></div>
            </div>
        </div>
        <div class="row slightly-less-dark-bg">
            <nav class="navbar navbar-expand-lg navbar-light w-100 pt-1">
                {% include 'includes/food_nav.html' %}
            </nav>
        </div> 
    </footer>
{% endblock %}