<div class="toast custom-toast rounded-0 border-top-0" data-autohide="false">
    <div class="arrow-up arrow-success"></div>
    <div class="w-100 toast-capper bg-success"></div>
    <div class="toast-header">
        <strong class="me-auto text-dark">Success!</strong>
        <button type="button" class="ml-2 mb-1 btn-close" data-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body bg-light text-dark">
        <div class="row">
            <div class="col">
                {{ message }}
                <hr class="mt-1 mb-3">
            </div>
        </div>
        {% if total %}
            <a class="nav-link" href="{% url 'view_bag' %}">
                <p class="text-black py-1"><strong>Your Bag</strong> <span class="badge bg-warning rounded-pill text-dark">{{ product_count }}</span></p>
            </a>
            <div class="bag-notification-wrapper">
                {% for item in bag_items %}
                    <div class="row">
                        <div class="col-3 my-1">
                            <img class="w-100" src="{{ item.product.image.url }}">
                        </div>
                        <div class="col-9">
                            <p class="my-0"><strong>{{ item.product.friendly_name }}</strong></p>
                            <p class="my-0 small text-muted">Qty: {{ item.quantity }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col">
                    <p class="mt-3 mb-1 text-black">
                        <strong>
                            Bag:
                            <span class="float-end">{{ total|floatformat:2 }} EUR</span>
                        </strong>
                    </p>
                    <p class="mb-1">
                        <small>
                            Deposit Total:
                            <span class="float-end">+ {{ total_deposit|floatformat:2 }} EUR</span>
                        </small>
                    </p>
                    {% if shipping_cost == 0 %}
                        <p>
                            <small>
                                <span class="invisible">Shipping Cost:</span>
                                <span class="float-end">Free Shipping</span>
                            </small>
                        </p>
                    {% else %}
                        <p>
                            <small>
                                Shipping Cost:
                                <span class="float-end">+ {{ shipping_cost|floatformat:2 }} EUR</span>
                            </small>
                        </p>
                    {% endif %}
                    <p>
                        <strong>
                            Grand Total:
                            <span class="float-end double-underline">{{ grand_total|floatformat:2 }} EUR</span>
                        </strong>
                    </p>
                    <a href="{% url 'checkout' %}" class="btn btn-dark btn-block rounded-4">
                        <span class="text-uppercase">Go To Secure Checkout</span>
                        <span class="icon">
                            <i class="fas fa-lock"></i>
                        </span>
                    </a>
                </div>
            </div>
        {% endif %}
    </div>
</div>