<div class="toast custom-toast rounded-0 border-top-0" data-autohide="false">
    <div class="arrow-up arrow-danger"></div>
    <div class="w-100 toast-capper bg-danger"></div>
    <div class="toast-header bg-white">
        <strong class="me-auto">Error!</strong>
        <button type="button" class="ml-2 mb-1 btn-close" data-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body bg-white text-dark">
        <div class="row">
            <div class="col">
                {{ message }}
            </div>
        </div>
    </div>
</div>